.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
  }
  .dobInput
{
display: inline-block;
width:92%;
}
.dobIcon
{
    float: right;
    padding: 8px 10px 8px 9px;
}

  